<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://talentotec-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>talentotec-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>talentotec-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$talentotec-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TalentoTECEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=talentoteccv2016.database.windows.net;Initial Catalog=TalentoTEC;Persist Security Info=True;User ID=TalentoTEC;Password=bolsaEmpleoTEC2016;Application Name=EntityFramework" Name="Data Source=talentoteccv2016.database.windows.net;Initial Catalog=TalentoTEC;Persist Security Info=True;User ID=TalentoTEC;Password=bolsaEmpleoTEC2016;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=talentoteccv2016.database.windows.net;Initial Catalog=TalentoTEC;Persist Security Info=True;User ID=TalentoTEC;Password=bolsaEmpleoTEC2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TalentoTECEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=&quot;res://*/Talento TEC-APIModel.csdl|res://*/Talento TEC-APIModel.ssdl|res://*/Talento TEC-APIModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=talentoteccv2016.database.windows.net;initial catalog=TalentoTEC;persist security info=True;user id=TalentoTEC;password=bolsaEmpleoTEC2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TalentoTECEntities-Web.config Connection String">
      <ParameterValue>metadata="res://*/Talento TEC-APIModel.csdl|res://*/Talento TEC-APIModel.ssdl|res://*/Talento TEC-APIModel.msl";provider=System.Data.SqlClient;provider connection string="data source=talentoteccv2016.database.windows.net;initial catalog=TalentoTEC;persist security info=True;user id=TalentoTEC;password=bolsaEmpleoTEC2016;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>